<a href="https://colab.research.google.com/github/WillBigBoss/Learning_Python/blob/main/Cursos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Minhas Aulas de Python***
* Aula Guanabara ( [Youtube](https://www.youtube.com/watch?v=Vw6gLypRKmY&list=PLHz_AreHm4dlKP6QQCekuIPky1CiwmdI6&index=12) )
* Aula Udemy ([Youtube](https://www.udemy.com/course/complete-python-bootcamp/))

# ***Meu caderno digital***

In [16]:
frase = 'Curso em Vídeo Python'
#print(frase)
#print(frase[::2])
print(len(frase))

21

# *Aulas de Python Guanabara Exercícios*

Exercicio 1

In [ ]:
n1 = int(input('Digite um numero: '))
n2 = int(input('Digite outro numero'))
s = n1+n2
print('A soma entre {} e {} é {}'.format(n1, n2, s))

Exercicio 2

In [ ]:
nome = input('Qual é o seu nome? ')
print('É um prazer de conhecer, {}'.format(nome))

Exercicio 3

In [ ]:
nome = input('Qual é o seu nome? ')
print('É um prazer de conhecer, {}'.format(nome))

Exercicio 4

In [ ]:
nome = input('Qual é o seu nome? ')
print('É um prazer de conhecer, {}'.format(nome))

Exercicio 5

In [ ]:
n1 = int(input('Digite um numero: '))
print('O numero que antecede {} é {} e o posterior é {} '.format(n1, (n1-1), (n1+1)))

Exercicio 6

In [ ]:
n1 = int(input('Digite um numero: '))
print('O dobro de {} é {}, o triplo de {} é {} e a raiz quadrada de {} é {:.2f}'.format(n1, n1*2, n1, n1*3, n1, n1**(1/2)))

Exercicio 7

In [ ]:
n1 = float(input('Digite um numero: '))
n2 = float(input('Digite outro numero: '))
print('A média de {:.1f} e {:.1f} é {:.1f}'.format(n1, n2, (n1+n2)/2))

Exercicio 8

In [ ]:
n1 = float(input('Digite um numero em metros: '))
dc = n1 * 10
cm = n1 * 100
mm = n1 * 1000
km = n1 / 1000
hm = n1 / 100
dm = n1 / 10

print('{:.0f} dc \ {:.0f} cm \ {:.0f}mm \ {}km \ {}hm {}dm'.format(dc, cm, mm, km, hm, dm))

Exercicio 9

In [ ]:
n1 = int(input('Qual tabulada veja desaja saber o resultado? '))
print('='*13)
print('{} * {:2} = {}'.format(n1, 1, n1*1))
print('{} * {:2} = {}'.format(n1, 2, n1*2))
print('{} * {:2} = {}'.format(n1, 3, n1*3))
print('{} * {:2} = {}'.format(n1, 4, n1*4))
print('{} * {:2} = {}'.format(n1, 5, n1*5))
print('{} * {:2} = {}'.format(n1, 6, n1*6))
print('{} * {:2} = {}'.format(n1, 7, n1*7))
print('{} * {:2} = {}'.format(n1, 8, n1*8))
print('{} * {:2} = {}'.format(n1, 9, n1*9))
print('{} * {:2} = {}'.format(n1, 10, n1*10))
print('='*13)

Exercicio 10

In [ ]:
n1 = float(input('Digite um valor: '))
#Dolar = 3,27
n2 = float(5.39) 
print('Com {:.2f} você por comprar {:.2f} dolares'.format(n1, n1/n2))

Exercicio 11

In [ ]:
n1 = float(input('Digitel a altura da parede: '))
n2 = float(input('Digite a largura da parede: '))
n3 = 2

print('Você precisará de {}L de tinta para pintar '.format((n1*n2)/n3))

Exercicio 12

In [ ]:
n1 = float(input('Digite o valor: '))
print('O valor R$ {:.2f} com 5% de desconto é = R$ {:.2f} '.format(n1, n1-(n1*5)/100))

Exercicio 13

In [ ]:
n1 = float(input('Digite o salario: '))
print('O valor {} com 15% de desconto é = {} '.format(n1, n1+(n1*15)/100))

Exercicio 14

In [ ]:
c = float(input('Informe a temperatura em `C:'))
f = (9*c)/5+32
print('A temperatura de {}°C é igual a {}°F'.format(c, f))

Exercicio 15

In [ ]:
d = int(input('Quantos dias será alugado? '))
k = float(input('Quantos KM foi rodado? '))
r = (d*60.00) + (k*0.15)

print('Total à pagar é de R$ {:.2f}.'.format(r))

Execício 16

In [ ]:
'''from math import trunc
num = float(input('Digite um numero: '))
print("O numero inteiro de {:.3f} é {}".format(num, trunc(num)))'''

num = float(input('Digite um valor: '))
print('O valor inteiro de {} é {}'.format(num, int(num)))

Exercício 17

In [ ]:
from math import hypot
num1 = float(input('Digite um numero: '))
num2 = float(input('Digite outro numero: '))
hy = hypot(num1, num2)
print("Sua Hipoteusa é {:.2f}".format(hy))

'''num1 = float(input('Digite um numero: '))
num2 = float(input('Digite outro numero: '))
hi = (num1 ** 2 + num2 ** 2) ** (1/2)
print("Sua Hipoteusa é {:.2f}".format(hi))'''

Exercício 18

In [ ]:
import math
angulo = float(input('Digite o angulo que voce deseja: '))
seno = math.sin(math.radians(angulo))
print('O ângulo de {} tem o Seno de {:.2f}'.format(angulo, seno))
cosseno = math.cos(math.radians(angulo))
print('O ângulo de {} tem o Cosseno de {:.2f}'.format(angulo, cosseno))
tangente = math.tan(math.radians(angulo))
print('O ângulo de {} tem a Tangente de {:.2f}'.format(angulo, tangente))

Exercício 19

In [ ]:
'''import random
nome = ('Wilson', 'Caroline', 'Léia', 'Han Solo')
select = random.choice(nome)
print('O nome escolhido foi {}'.format(select))'''

import random
nome1 = str(input('Digite o primeiro aluno: '))
nome2 = str(input('Digite o segundo aluno: '))
nome3 = str(input('Digite o terceiro aluno: '))
nome4 = str(input('Digite o quarto aluno: '))

lista = [nome1, nome2, nome3, nome4]
escolhido = random.choice(lista)

print('O aluno escolhido foi {}'.format(escolhido))

Exercício 20

In [ ]:
import random
n1 = str(input('Digite o primeiro aluno: '))
n2 = str(input('Digite o segundo aluno: '))
n3 = str(input('Digite o terceiro aluno: '))
n4 = str(input('Digite o quarto aluno: '))
lista =[n1, n2, n3, n4]
random.shuffle(lista)

print('A ordem de apresentação será: ')
print(lista)

Exercício 21

In [ ]:
!pip install pygame
import pygame
pygame.init()
pygame.mixer.music.load('ex01.mp3')
pygame.mixer.music.play()
pygame.event.wait

Exercício 22

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
print('Analisando seu nome... ')
print('Seu nome em maiúsculas é {}'.format(nome.upper()))
print('Seu nome em minúsculas é {}'.format(nome.lower()))
print('Seu nome tem ao todo {} letras'.format(len(nome)-nome.count(' ')))
pnome = nome.split()
print('Seu primero nome é {} nome tem {}'.format(pnome[0], len(pnome[0])))

Execício 23

In [ ]:
numero = int(input('Digite um numero de 0 á 9999: '))
u = numero // 1 % 10
d = numero // 10 % 10
c = numero // 100 % 10
m = numero // 1000 % 10

print('Analisando o numero {} ...'.format(numero))
print('Unidade: {}'.format(u))
print('Dezena : {}'.format(d))
print('Centena: {}'.format(c))
print('Milha  : {}'.format(m))

Exercício 24

In [ ]:
cidade = str(input('Qual cidade você nasceu? ')).strip()
print(cidade[:5].upper() == 'SANTO')

Exercício 25

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
print('Seu nome tem Silva? {} '.format('SILVA' in nome.upper()))

Exercício 26

In [ ]:
frase = str(input('Digite uma frase: ')).upper().strip()
print('A letra "A" aparece {} vezes'.format(frase.count('A')))
print('A primeira letra "A" apareceu na posição {}'.format(frase.find('A')+1))
print('A ultima letra "A" apareceu na posição {}.'.format(frase.rfind('A')+1))

Exercício 27

In [ ]:
nome = str(input('Digite seu nome completo')).upper().strip().split()
print('Seu primeiro nome é {}'.format(nome[0]))
print('Seu ultimo nome é {}'.format(nome[len(nome)-1]))